<?xml version="1.0" encoding="UTF-8"?>
<!--
	This file is part of the DITA-OT Audiobook Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.audiobook" version="1.2.0">
  <transtype name="ssml" desc="Speech Synthesis Markup Language">
    <param name="ssml.gender" desc="Prefered Voice Gender" type="enum">
      <val>female</val>
      <val default="true">male</val>
    </param>
  </transtype>

  <transtype name="mp3" extends="ssml" desc="Create MP3 player audio tracks">
    <param desc="Specifies the location a cache file to be used" name="mp3.cachefile" type="file"/>
    <param name="ssml.service" desc="Specifies the text-to-speech processor." type="enum">
      <val>bing</val>
      <val>custom</val>
      <val>dummy</val>
      <val default="true">watson</val>
    </param>

    <param name="ssml.authentication.url" type="string"/>
    <param name="ssml.output.format" type="string"/>
    <param name="ssml.apikey" type="string"/>
    <param name="ssml.url" type="string"/>
    <param name="mp3.cachefile" type="file"/>
    <param name="mp3.cover.art.add" desc="Specifies whether or not cover art is to be added to a file." type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="mp3.cover.art.image" desc="Specifies the cover art to be used for a file." type="string"/>

  </transtype>
  <transtype name="audiobook" extends="mp3" desc="A single Audiobook">
    <param name="audiobook.format" desc="mp4 Output Format (with or without DRM)" type="enum">
      <val default="true">m4a</val>
      <val>m4b</val>
    </param>
  </transtype>

  <!-- Import the audiobook transform's ANT file -->
  <feature extension="ant.import" file="build_dita2audiobook.xml"/>
  <!-- Ensure the plugin's error and logging messages are available -->
  <feature extension="dita.xsl.messages" file="resource/messages.xml"/>
</plugin>
